.title {
    text-align: center;
    border: 2px solid blue;
    background-color: lightblue;
    color: blue;
    padding: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 50%;
}

.list {
    margin: 0 auto;
    width: 50%;
    list-style-position: inside;
    border: 2px solid blue;
    background-color: lightblue;
    padding: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
}

div {
    width: 500px;
    margin: 0 auto;
}